body {
  width: 1024px;
  margin: 0 auto;
  margin-top: 30px;
}
.container {
  min-height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container--show {
  min-height: 136px;
  animation: container-slide-show 0.6s ease-in-out;
}

.container--hidden {
  min-height: 27px;
  animation: container-slide-hide 0.6s ease-in-out;
}

@keyframes container-slide-show {
  0% {
    min-height: 27px;
  }
  100% {
    min-height: 136px;
  }
}

@keyframes container-slide-hide {
  0% {
    min-height: 136px;
  }
  100% {
    min-height: 27px;
  }
}

.table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #d2e7e6;
}

thead {
  font-family: "Arial", serif;
  font-size: 15px;
  background-color: rgba(223, 223, 223, 0.575);
}

tbody  .table__row:nth-child(even) {
  background-color: rgb(247, 244, 244);
}

tbody  .table__row:nth-child(odd) {
  background-color: #fff;
}

.table__data {
  font-family: "Arial", serif;
  font-size: 15px;
  padding: 10px;
  width: 25%;
  border: 1px solid #fff;
  text-align: center;
}

tbody  .table__row--active[data-active="true"],
.table__details-row  {
  font-weight: 700;
  background-color: rgb(247, 244, 244);
}

tr .table__data:first-child {
  width: 10%;
  word-wrap: break-word;
}

.search-form {
  display: none;
  opacity: 0;
  margin-top: 27px;
  margin-bottom: 27px;
  width: 1024px;
  justify-content: end;
}

.search-form--hidden {
  display: none;
  opacity: 0;
  animation: hide .6s ease-in-out;
}

.search-form--show {
  display: flex;
  opacity: 1;
  animation: show .6s ease-in-out;
}

.search-input {
  flex-grow: 1;
  padding: 10px 5px;
  border: 2px solid  #d2e7e6;
  border-right: unset;
  font-size: 16px;
}

.search-button {
  font-size: 16px;
  width: 100px;
  border: unset;
  border: 1px solid #d2e7e6;
  border-left: unset;
  background-color: #d2e7e6;
}

.search-button:hover {
  background-color: #128277;
}

.search-button:active {
  background-color: #004d47;
}

.add-row-form {
  display: none;
  width: 1084px;
}

.add-row-form input {
  width: 70%;
  border: unset;
  border: 2px solid #d2e7e6;
}

.add-row-form input:hover {
  border-color:  #128277;
}

.add-row-form  input:valid {
  border-color: #d2e7e6;
}

.add-row-form table {
  width: 1024px;
  margin-right: 10px;
}

.add-row-form--hidden {
  position: absolute;
  top: 0;
  left: 0;
}

.add-row-form--show {
  display: flex;
  position: relative;
  animation: show 1.6s ease-in-out;
}

.add-row-form__button {
  padding: 0;
  position: relative;
  border: 4px solid #d2e7e6;
  border-radius: 50%;
  background-color: #fff;
  width: 50px;
  height: 50px;

  align-self: center;
}

.add-row-form__button:hover {
  background-color: #d2e7e646;
}

.add-row-form__button::before,
.add-row-form__button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 30px;
  height: 4px;
  background-color: #d2e7e6;
}

.add-row-form__button::before {
  transform: translate(-50%, -50%);
}

.add-row-form__button::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

@keyframes show {
  0% {
    opacity: 0;
    position: absolute;
  }
  80% {
    position: absolute;
    opacity: 1
  }
  100% {
    position: static;
    opacity: 1;
    
  }
}

@keyframes hide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.add-row-form thead {
  background-color: #d2e7e6;
}

.main-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-menu__button {
  flex-shrink: 1;
}

.button {
  font-family: "Arial", serif;
  font-size: 16px;
  width: 23%;
  height: 56px;
  border: 1px solid #d2e7e6;
  border-radius: 4px;
  background-color: transparent;
}

.button:hover {
  background-color: #d2e7e646;
}

.button--active,
.button--active:hover {
  background-color: #d2e7e6;
}

.details {
  width: 100%;
  font-family: "Arial", serif;
}

.details th {
  width: 200px;
  text-align: left;
}

.details td {
  text-align: left;
}

.details__description {
  width: 80%;
}

.sort__arrow-up {
  position: relative;
  display: inline-block;
  bottom: 3px;
  left: 5px;
  width: 0;
  height: 0;

  border: 5px solid transparent;
  border-bottom-color: black;
}

.sort__arrow-down {
  position: relative;
  display: inline-block;
  top: 3px;
  left: 5px;
  width: 0;
  height: 0;

  border: 5px solid transparent;
  border-top-color: black;
}